# Rust
/backend/target/
**/*.rs.bk

# Environment variables & secrets
.env
.env.*
!.env.example

# IDE & Editor
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Docker
docker-data/

# Logs
logs/
*.log

# Database & local sqlite files if any
*.sqlite
*.sqlite3
*.db
